secrets.txt/
node_modules/
venv/
.serverless/
backend/App/.dynamodb/
__pycache__/
.DS_Store
.idea/BaseballSimulator2.iml
baseball-simulator/cmake-build-debug
KalmanGit/JSON/Class Based UKF/V2/

*.pyc
KalmanGit/JSON/Class Based UKF/V2/__pycache__/HTTPHandler.cpython-39.pyc
