backend/secrets.txt
backend/node_modules
backend/venv
backend/.serverless
backend/.dynamodb
backend/__pycache__
venv
.idea/BaseballSimulator2.iml
baseball-simulator/cmake-build-debug
KalmanGit/JSON/Class Based UKF/V2/Smoothed.json
KalmanGit/JSON/Class Based UKF/V2/Smoothed.json
KalmanGit/JSON/Class Based UKF/V2/Smoothed.json
KalmanGit/JSON/Class Based UKF/V2/Smoothed.json
KalmanGit/JSON/Class Based UKF/V2/OutputFile.json
KalmanGit/JSON/Class Based UKF/V2/Smoothed.json
backend/App/V3/__pycache__/BaseballPhysicalModel.cpython-39.pyc
backend/App/V3/__pycache__/BaseballPhysicalModel.cpython-39.pyc
backend/App/V3/__pycache__/BaseballPhysicalModel.cpython-39.pyc
